* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    /*TUDO DEFINIDO NELE SOBREPÔE TODOS OS OUTROS*/
}

body {
    background-color: rgb(173, 255, 47);
    text-align: center;
}

main {
    text-align: left;
    margin: auto;
    width: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.5);
}

fieldset {
    border-radius: 5px;
}